.App {
}

.App-logo {
  height: 40vmin;
}

.App-main {
 /* background-color: #282c34;*/
  background-color: rgba(250,250,250,1);  /*#1e1e1e;*/

  /*background: linear-gradient(170deg,  #cae8eb, #68c075);*/
  min-height: calc(100vh /*- 30px*/);
  display: flex;
  flex-direction: column;
 /* align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #09d3ac;
}

.about {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

input, button{
  background: transparent;
  color: #fff;
  border: 1px solid white;
  outline: none;
  font-size: 16px;
  border-radius: 5px
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
 /* background: #34475a;*/
  background: #262626;
  -webkit-app-region: drag;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar-btn, #sizer {
  -webkit-app-region: no-drag;
}

.container {
  height: calc(100vh - 30px);
  background: #34475ab0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}

button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}

.logo {
  background: url("./Student.png") center no-repeat;

  transform: scale(0.5);

  height: 100px;
  width: 100px;
  
}

.p1 {
  width: 100%;
   height: auto;
   
}

.p2 {
  transform: scale(0.9);
}

.Logo{
  font-size: 30px;
  margin-left: 20px;
}
@media screen and (max-width: 400px){
.Logo {
  margin-left: 0;
  position: relative;
}
}
@media screen and (max-width: 360px){
  .Logo {
    position: relative;
    font-size: 25px;
  }
  }

  @media screen and (max-width: 312px){
    .Logo {
      position: relative;
      font-size: 20px;
    }
    }

    

    .header{
    background-color: rgba(255,255,255,.7);
    box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.05);
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(2rem);
      border: 1px solid rgba(255,255,255,.25);
      border-top: 1px solid rgba(255,255,255,.5);
      border-left: 1px solid rgba(255,255,255,.5);
      border-radius: 20px
    }

    @media screen and (max-width: 1060px){
      .header {
        border-radius: 0;
      }
      .App-main {
      /*  background: linear-gradient(170deg,  #cae8eb, #c0e0c6);*/
      }
    }

    .content{
      background-color: rgba(255,255,255,1);
      box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.05);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
      box-shadow: -15px 0  35px rgba(0, 0, 0, 0.05);
      box-shadow: 15px 0 35px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(10rem);
      border: 1px solid rgba(255,255,255,.25);
      border-top: 1px solid rgba(255,255,255,.5);
      border-left: 1px solid rgba(255,255,255,.5);
    }